.mp-label {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 100;
}

.meta-label {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 100;
}

.mp-label:active,
.meta-label:active {
    cursor: grabbing;
    z-index: 200;
}
